
body {
    background: #700632;
    font-family: Arial;
}
h1 {
    color: red;
}
/* 5bBr177UwNkN1PRdgSH6qzz8luUckju8YDX2cINJMQhlPIpXjQmKaYAUPSRiezJ0RXnD1BGIhWPErAfScdizavLSnJwVIqaWncNKJaF3dY2dNfuPsCN4fCfy55bWLwDLzmjVAcCW42NxfK9R0IELIdCL6hHaOjdxkS9ELRIYNwTtKgqCjLStuFzaqofUfymTBBmsCADZ */
